#image {
 align:left;
 height:75px;
}

#helpreload {
  margin-top:5px;
}
#datatypewellpanel {
 height:150px;
}
#processwellpanel {
 height:150px;
}
#gotoplotwellpanel {
 height:150px;
}
#sampleNamesDiv {
  overflow-y:scroll; 
  max-height:150px;
}
#step1 {
  font-weight:bold;
}
#step2 {
  font-weight:bold;
}
#step3 {
  font-weight:bold;
}
#atacFormatPanelDiv {
  visibility:hidden;
}
#chipFormatPanelDiv {
  visibility:hidden;
}
#mrnaFormatPanelDiv{
  visibility:hidden;
}